<nav>
    <div class="nav-wrapper">
        <a href="dashboard.handlebars" class="brand-logo">Add Your Recipe</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="dashboard.handlebars">Dashboard</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>

    <div class="row">

        <div class="col s10 m6 offset-s1 offset-m3">
            <div class="card">
                <div class="card-image center-align">
                    <img src="/assets/img/kitchen.jpg">
                    <button class="btn add-image">Add Image</button>
                </div>
                <div class="card-content center-align">
                    <ul class="collection with-header ingredient-card">
                        <li class="collection-header red lighten-2 class">
                            <h6>Ingredient List</h6>
                        </li>
                    </ul>
                    <input placeholder="Enter each ingredient here" class="left-align" id="ingredient-input" type="text" class="validate">
                    <button class="btn add-ingredient right">Add Ingredient</button>
                    
                    <ul class="collection with-header direction-card">
                        <li class="collection-header red lighten-2 class">
                            <h6>Directions</h6>
                        </li>
                    </ul>
                    <input placeholder="Enter your directions here" class="left-align" id="direction-input" type="text" class="validate">
                    <button class="btn add-direction right">Add Direction</button>

                    
                    <video class="responsive-video" controls>
                        <source src="movie.mp4" type="video/mp4">
                    </video>
                    <br>
                    <button class="btn add-direction">Add Video</button>
                </div>
                <div class="card-action">
                    <a href="/dashboard">Go Back to Dashboard</a>
                     <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>

            </div>
        </div>

    </div>


<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Eat Me</h5>
                <p class="grey-text text-lighten-4">Our mission is to bring you recipes and easy measurement
                    conversions so
                    that
                    you can get cooking. No life-stories, no fluff, just food.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">The Team</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/parallelam">Wes Hatley</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/jlevine84">Jeff Levine</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/ericksont11">Tom Erickson</a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/jgwynn36">Jacqueline Gwynn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            UNC Coding Bootcamp Project 2
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
<script>
    var counter = 1
    $(".add-ingredient").click(function(){
        if ($("#ingredient-input").val() !== ""){
            var ingredient = $("#ingredient-input").val()
            var cardIngredient = $("<li class='collection-item color'>"+'<i class="material-icons right">spa</i>'+ingredient+"</li>")
            $(".ingredient-card").append(cardIngredient)
            $("#ingredient-input").val("")
        }
    })
    $(".add-direction").click(function(){
        if ($("#direction-input").val() !== ""){
            var direction = $("#direction-input").val()
            var cardDirection = $("<li class='collection-item color'>"+'Step '+ counter +": " +direction+ "</li>")
            $(".direction-card").append(cardDirection)
            $("#direction-input").val("")
            counter++
        }
    })
</script>