<nav class="recipe-page">
    <div class="nav-wrapper">
        <a href="dashboard.handlebars" class="brand-logo">Add Your Recipe</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/dashboard">Dashboard</a></li>
        </ul>
    </div>
</nav>

    <div class="row">
         <div class="col l4 m8 s8 offset-m2 offset-s2 offset-l2">
            <div class="card">
                <div class="card-title center-align">
                    <h3 class="name"></h3>
                </div>
                <div class="card-image center-align">
                    <img src="/assets/img/kitchen.jpg" id="cardImage">
                </div>
                <div class="card-content center-align">
                    <p class="difficulty">Difficulty Rating:</p>
                    <p class="prep"></p>
                    <p class="cook"></p>
                    <p class="servingSize"></p>

                    <ul class="collection with-header ingredient-card">
                        <li class="collection-header red lighten-2 class">
                            <h6>Ingredient List</h6>
                        </li>
                    </ul>
                    
                    <ul class="collection with-header direction-card">
                        <li class="collection-header red lighten-2 class">
                            <h6>Directions</h6>
                        </li>
                    </ul>

                    <p class="summary-section"></p>
                    
                </div>
                <div class="card-action">
                     <button class="btn waves-effect waves-light center" type="submit" name="action" id="add-recipe">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col l4 m8 s8 offset-m2 offset-s2">
             <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Add Name</span>
                    <input placeholder="Enter the name of your recipe" class="left-align" id="name-input" type="text" class="validate">
                    <button class="btn add-name right center-btn">Add</button>
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Add Ingredients</span>
                    <input placeholder="Enter the amount of each ingredient (ex. 1 Cup)" class="left-align" id="quantity-input" type="text" class="validate">
                    <input placeholder="Enter each ingredient here" class="left-align" id="ingredient-input" type="text" class="validate">
                    <button class="btn add-ingredient right center-btn">Add</button>
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Add Serving Size</span>
                    <input placeholder="Enter how many people your recipe is for" class="left-align" id="servingSize-input" type="text" class="validate">
                    <button class="btn add-servingSize right center-btn">Add</button>
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Add Directions</span>
                    <input placeholder="Enter each step here one-by-one" class="left-align" id="direction-input" type="text" class="validate">
                    <button class="btn add-direction right">Add</button>
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Add Image</span>
                    <input placeholder="Enter link to your image here" class="left-align" id="image-input" type="text" class="validate">
                    <button class="btn add-image right">Add</button>
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">How long does it take to prep?</span>
                    <input placeholder="Enter how long it takes to prep" class="left-align" id="prep-input" type="text" class="validate">
                    <button class="btn add-prep right">Add</button>
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">How long does it take to cook?</span>
                    <input placeholder="Enter how long it takes to cook" class="left-align" id="cook-input" type="text" class="validate">
                    <button class="btn add-cook right">Add</button>
                </div>
            </div>
            <div class="card blue-grey darken-1 card-padding">
                <div class="card-content white-text">
                    <span class="card-title">Add a story or additional information</span>
                    <textarea id="summary-input" name="subject" placeholder="This is where you can share intersting facts about your recipe. You could put where you came across it, it's history, a story about making it. Whatever you'd like!" style="height:20vh"></textarea>
                    <button class="btn add-summary right">Add</button>
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Give a difficulty rating!</span>
                    <button class='dropdown-trigger btn' data-target='dropdown1'>Choose a difficulty</button>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li class="clicked" value="1">Beginner</li>
                        <li class="clicked" value="2">Amateur</li>
                        <li class="clicked" value="3">Home Chef</li>
                        <li class="clicked" value="4">Professional Chef</li>
                        <li class="clicked" value="5">Michelin Star Chef</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Eat Me</h5>
                <p class="grey-text text-lighten-4">
                    Our mission is to bring you recipes and easy measurement conversions so that
                    you can get cooking. No life-stories, no fluff, just food.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">The Team</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/parallelam">Wes Hatley</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/jlevine84">Jeff Levine</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/ericksont11">Tom Erickson</a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/jgwynn36">Jacqueline Gwynn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            UNC Coding Bootcamp Project 2
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
  <script src="/assets/js/createRecipe.js"></script>