{{> nav/nav-block}}


  <div class="row">
    <div class="col l6 offset-l3 margin-top">
      <div class="card blue-grey darken-1">
        <div class="card-image">
          <img src="/assets/img/eatme.png">
        </div>
        <div class="card-content white-text">
          <span class="card-title"><strong>Welcome to Eat Me!</strong></span>
          <p>Eat me is an open source Recipe database for Google and custom login supporters!</p>
          <br>
          <p>When you are ready to get your food on, feel free to login below and get that cooking started!</p>
        </div>
        <div class="card-action center">
            <ul>
                <li>
                    <div class="g-signin2" style="display: inline-block" data-onsuccess="onSignIn"></div>
                        <script>
                        function onSignIn(googleUser) {
                            // Useful data for your client-side scripts:
                            var profile = googleUser.getBasicProfile();
                            const user = {
                                firstName: profile.ofa,
                                lastName: profile.wea,
                                email: profile.U3
                            }
                            console.log(user)

                            $.ajax({
                                type: 'POST',
                                url: '/ginfo',
                                data: user
                            }).then(result => {
                                if(result) $(document.location).attr('href', '/dashboard');
                            })
                        }
                        </script>
                </li>
                <br>
                {{#if isloggedin}}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">My Profile</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link modal-trigger" href="#" data-target="modal1">Login</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/register" data-register={{register}}>Register</a>
                    </li>
                {{/if}}
            </ul>
        </div>
      </div>
    </div>
  </div>


{{> modal/login-block}}

<footer class="page-footer page-footer-landing">
  <div class="footer-copyright">
    <p class="grey-text text-lighten-4 mission">
        Our mission is to bring you recipes so that
        you can get cooking. No life-stories, no fluff, just food.
    </p>
  </div>
</footer>

<script>
    $(document).ready(function(){
        $('.modal').modal();
        
    });
</script>