<nav class="nav-extended">
    <a href="#!" class="brand-logo">Eat Me</a>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Eat Me</a>
        <ul class="right hide-on-med-and-down">
        <li><i class="material-icons prefix">search</i></li>     
        <li>    
            <div class="input-field">
            <div class="input-field">
            <input type="text" placeholder="Search" id="autocomplete-input" class="autocomplete">
            </div>
        </li>         
        <li><a href="#"><i class="material-icons">notifications</i></a></li>
        <li><a href="#">Login</a></li>                   
        </ul>
    </div>
</nav>    

<div class="container">

    <div class="col s12 m7">
        <h2 class="header">Chicken Kebab</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="kebab.jpg">
                </div>
                <div class="card-stacked">
                <div class="card-content">
                    <p>Basic Info</p>
                </div>
            </div>
        </div>
    </div>

</div>
 
 
<ul class="collection with-header">
    <li class="collection-header"><h4>Ingredients</h4></li>
    <li class="collection-item"><div>Chicken<a href="#!" class="secondary-content"><i class="material-icons">spa</i></a></div></li>
    <li class="collection-item"><div>Soy Sauce<a href="#!" class="secondary-content"><i class="material-icons">spa</i></a></div></li>
    <li class="collection-item"><div>Brown Sugar<a href="#!" class="secondary-content"><i class="material-icons">spa</i></a></div></li>
    <li class="collection-item"><div>Garlic<a href="#!" class="secondary-content"><i class="material-icons">spa</i></a></div></li>
</ul>

<ul class="collection with-header">
    <li class="collection-header"><h4>Instructions</h4></li>
    <li class="collection-item">
        <span class="title">Step 1</span>
        <p>First cut up the chicken into bite-sized pieces and mince the garlic.<br>
            Add these to a ziploc bag with the soy sauce and refrigerate for at least an hour.
        </p>
    </li>
    <li class="collection-item">
        <span class="title">Step 2</span>
        <p>First cut up the chicken into bite-sized pieces and mince the garlic.<br>
            Add these to a ziploc bag with the soy sauce and refrigerate for at least an hour.
        </p>
    </li>
    <li class="collection-item">
        <span class="title">Step 3</span>
        <p>First cut up the chicken into bite-sized pieces and mince the garlic.<br>
            Add these to a ziploc bag with the soy sauce and refrigerate for at least an hour.
        </p>
    </li>
    <li class="collection-item">
        <span class="title">Step 4</span>
        <p>First cut up the chicken into bite-sized pieces and mince the garlic.<br>
            Add these to a ziploc bag with the soy sauce and refrigerate for at least an hour.
        </p>
    </li>
</ul>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Eat Me</h5>
                <p class="grey-text text-lighten-4">Our mission is to bring you recipes and easy measurement conversions so that
                    you can get cooking. No life-stories, no fluff, just food.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">The Team</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/parallelam">Wes Hatley</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/jlevine84">Jeff Levine</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/ericksont11">Tom Erickson</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/jgwynn36">Jacqueline Gwynn</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="footer-copyright">
        <div class="container">
            UNC Coding Bootcamp Project 2
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>