<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Credentials</h4>
  </div>
  <hr>
  <div class="modal-content">
    <form>
      <div class="form-group">
        <label for="inputAccount">Email</label>
        <input type="text" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="inputAccount">Password</label>
        <input type="password" class="form-control" id="user_password">
      </div>
    </form>
  </div>
  <hr>
  <div class="modal-footer">
    <a href="#!" id="login" class="modal-close waves-effect waves-green btn">Login</a>
    <a href="#!" id="close" class="modal-close waves-effect waves-green btn">Close</a>
  </div>
</div>