ul {
  list-style-type:none
}

.jumbotron {
  background: rgba(0,0,0,0);
}

.modal {
  color: black;
}

.btn {
  color:white;
  background:#cadde1;
  border: 1px solid white;
  text-align: center
}

#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: red !important;
}

#go-home {
 width: auto;
 height: 65px;
}

.container {
  padding-bottom: 2%;
  margin-top: 10%;
  height:100%;
  border-radius: .25rem;
  margin-bottom: 2%;
  width: 600px;
}

[data-useremail="true"] {
  color: white !important;
}
[data-register="true"] {
  color: white !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

hr {
  background-color: #fff !important;
}

.brand-logo{
  position: relative;
  height: 100%;
  margin-left: 2%
}

body {
  display: flex;
  min-height: 200%;
  flex-direction: column;
  background-image: url("/assets/img/full-bloom.png")
}

main {
  flex: 1 0 auto;
}

img {
  height: 30vh;
}

.summary {
  text-decoration: underline
}

.nav-content {
  margin: 0;
  padding: 0;
}

.add {
  height: 45.5vh
}

.dropdown-content {
  position: absolute !important;
  margin-top: 8.5vh;
  width: 12vw;
}

select, textarea{
  color: white;
  font-size: 2em
}

.collection-item, h6 {
  color: white
}

.color {
  color: rgb(236, 144, 147)
}

#ingredient-input, #direction-input, #image-input, #servingSize-input,
#video-input, #prep-input, #cook-input, #name-input {
  width:80%
}

.add-direction, .add-ingredient, .add-image, .add-servingSize,
.add-video, .add-cook, .add-prep, .add-name {
  width: 20%
}

.center {
  width: 40%;
  margin-left: 30%
}

input {
  color: white
}

.recipe-page {
  margin-bottom: 5vh
}

.dropdown-content {
  width: 15vw;
}


.material-icons {
  vertical-align: middle !important;
  padding-bottom: 3px;
}

.card-padding {
  padding-bottom: 10%
}

.recipe-image {
  height: 200px
}

.recipe-card {
  margin-top: 20vh;
  position: fixed;
  width: 40vw
}

.name {
  background-color: #EE6E73;
  color: white;
  margin-bottom: 0;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.card {
  z-index: 10
}


@media screen and (min-width: 992px) {
  .fixed {
    position: fixed;
    z-index: 2
  }

  .nav-extended {
    z-index:11
  }
  
  .margin-top {
    margin-top: 75px;
  }
  
  .page-footer {
    position: relative;
    margin-top: 75px;
    bottom: 0 !important;
    z-index: 2;
    width: 100%;
    padding: 0 !important;
  }
  
  .recipe-container {
    margin-left: 25vw;
  }
  
}