<footer class="page-footer">
  <div class="footer-copyright">
    <p class="grey-text text-lighten-4 mission">
        Our mission is to bring you recipes and easy measurement conversions so that
        you can get cooking. No life-stories, no fluff, just food.
    </p>
  </div>
</footer>