<nav class="nav-fixed">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Eat Me</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/dashboard">Dashboard</a></li>
      {{#if isloggedin}}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/" id="login-modal">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register" data-register={{register}}>Register</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>

{{> modal/login-block}}